html, body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, 'Nimbus Mono L', monospace;
    font-size: 16px;
}

#wrapper {
    width: 960px;
}

.content {
    position: absolute;
    margin-left: 25px;
    display: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 30px;
    background: rgb(254,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(160,216,239,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(160,216,239,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(160,216,239,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(160,216,239,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(160,216,239,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(160,216,239,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
}

.content ul {
    margin: 0 0 0 -15px;
    padding: 0;
    list-style-type: square;
}

.content ul a {
    text-decoration: none;
}

h3 {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.menu {
    padding: 5px;
    list-style-type: none;
}

.menu>li {
    position: relative;
    float: left;
    margin-right: 10px;
}

.menu>li>a {
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    background: rgb(37,220,242); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(37,220,242,1) 0%, rgba(121,149,226,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,220,242,1)), color-stop(100%,rgba(121,149,226,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(37,220,242,1) 0%,rgba(121,149,226,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(37,220,242,1) 0%,rgba(121,149,226,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(37,220,242,1) 0%,rgba(121,149,226,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(37,220,242,1) 0%,rgba(121,149,226,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25dcf2', endColorstr='#7995e2',GradientType=0 ); /* IE6-9 */
}

.menu li:hover a {
    font-size: 1.5em;
    padding: 10px 45px;
}

.menu li:hover .content {
    display: block;
}